<div>Many Minds</div>
<div>Home route</div>
<ul>
  <li>Public posts (nyi)</li>
  <li><a routerLink="/auth/create">Sign up (wip)</a></li>
  <li *ngIf="!(currentUser | async)"><a routerLink="/login">Log in</a></li>
  <li *ngIf="currentUser | async" (click)="logout()">Log out</li>
  <li>Profile page (nyi)</li>
  <li>Rss feeds (nyi)</li>
  <li>Clusters (nyi)</li>
</ul>
<div>SomeDoc:</div>
<div>{{someDoc | async | json}}</div>
<div>Latest posts</div>
<ul>
  <li *ngFor="let post of topPosts | async">{{post.handle}}</li>
</ul>